{% extends "layouts/base.twig" %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="alert alert-danger" role="alert">
            [{{ code }}] {{ message }}
        </div>
    </div>
</div>
{% endblock %}