{% extends "layouts/base.twig" %}

{% block content %}
<div class="row row-center">
    <div class="col">
        <h1>
            <i class="fas fa-headphones"></i> + <i class="far fa-compass"></i> = <i
                    class="fas fa-heart"></i>
        </h1>
        <h2 class="jumbotron-heading">Find a place to live</h2>
        <h3>where there're more concerts performed by the artists you love.</h3>
        <p class="h4 text-muted">Based on Spotify + Songkick.</p>
        <br>
        <p>
            <a href="/auth" class="btn btn-success btn-lg"><i class="fab fa-spotify"></i> Log in with
                Spotify</a>
        </p>
    </div>
</div>
{% endblock %}